<% include partials/header.ejs %>
	<h1><%= title %></h1>
	<h2><%= body %></h2>
	<ul>
		<li><%= user.userId %></li>
		<li><%= user.firstName %></li>
		<li><%= user.lastName %></li>
		<li><%= user.age %></li>
		<li><%= user.password %></li>
	</ul>
<% include partials/footer.ejs %>